
body {
    background-color: #2d2d2d;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.container {
    max-width: 960px;
}

.list-group-item {
    background-color: #333333;
    color: #ffffff;
    border-color: #444444;
}

.embed-responsive {
    margin-top: 20px;
    max-width: 100%; /* Ensure video player is responsive */
}

.video-player-container {
    position: relative;
    overflow: hidden;
    width: 600px; /* Set fixed width */
    height: 400px; /* Set fixed height */
    margin: 20px auto 0; /* Center the video player with top margin */
}

.scrolling-text {
    white-space: nowrap;
    animation: scrolling 10s linear infinite;
    margin-top: 10px;
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.playlist-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #444444;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.alert-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.alert-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.image-card {
    max-width: 400px;
    margin: 50px auto;
}

.card-img-top {
    max-height: 300px;
    object-fit: cover;
}
